<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="frame-ancestors 'self' soundbeats.duckdns.org;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundBeats Application</title>
    <link rel="stylesheet" href="css/diagnostico.css">
    <link rel="shortcut icon" href="images/soundbeats-icon.png" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Diagnóstico de Enfermedad</h1>
    </header>
    <main>
        <h1 th:text="'Gracias, '+${paciente.nombre}+' '+${paciente.apellido}+' el diagnostico se ha realizado correctamente:'"></h1>
        <h2>DIAGNOSTICO:</h2>
        <div id="diagnostico">
            <label for="nombreDiagnostico"><p th:text="'Resultado: '+${enfermedad.nombre}"></p></label>
            <label for="defDiagnostico"><p th:text="'Resultado: '+${enfermedad.definicion}"></p></label>
        </div>
        <a href="/mail" class="button">MANDAR MAIL MEDICO</a>
        <a href="/home" class="button">ATRAS</a>
    </main>
</body>

</html>