<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="frame-ancestors 'self' example.com subdomain.example.com;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundBeats Application</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" href="images/soundbeats-icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <img src="images/soundbeats-logo.png" alt="Logo SoundBeats">
        <h1 th:text="Bienvenido+' '+${paciente.nombre}+' '+${paciente.apellido}"></h1>
    </header>
    <main>
        <form method="post" action="/subirArchivo" enctype="multipart/form-data">
            <h2>DIAGNOSTICO</h2>
            <input type="file" name="file">
            <button type="submit">REALIZAR DIAGNOSTICO</button>
        </form>
        <h2>HISTORIAL DE DIAGNOSTICOS</h2>
        <div class="button-container">
            <a href="/historial" class="button">MOSTRAR HISTORIAL</a>
        </div>
        <footer>
            <a href="/exit" class="button">SALIR</a>
        </footer>
    </main>
</body>
</html>