<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundBeats Application</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" href="images/soundbeats-icon.png" type="image/x-icon">
</head>
<body>
    <nav>
        <div>Eu</div>
        <div>Es</div>
    </nav>
    <main>
        <head>
            <span id="soundbeats-logo"><img src="images/soundbeats-logo.png" alt="Logo SoundBeats"></span>
        </head>
        <form method="post" action="/prueba" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">SUBIR AUDIO (COMPRIMIDO)</button>
        </form>
        <form method="post" action="/subirArchivo" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">SUBIR AUDIO (COMPRIMIDO)</button>
        </form>
        <form action="/diagnostico" method="post">
            <button>REALIZAR DIAGNOSTICO</button>
        </form>
        <form action="/exit" method="post">
            <button>EXIT</button>
        </form>
    </main>
</body>
</html>