<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundBeats Application</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" href="images/soundbeats-icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h2>Inicio de sesión</h2>
        <div class="image-container">
            <img src="images/oti-zk.png" alt="Num.Seg.Soc.">
        </div>
        <form action="/login" method="post">
            <label for="seguridad_social">Número de Seguridad Social: <img src="images/numVerde.png" alt="Numero verde"></label>
            <input type="text" id="seguridad_social" name="numSS" required>

            <label for="apellido">Primer Apellido:</label>
            <input type="text" id="apellido" name="1apellido" required>

            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fechadenacimiento" required>

            <input id="submit" type="submit" value="INICIAR SESION">
        </form>
        <form action="/admin" method="post">
            <input type="password" id="passw" name="passw" required>
            <input id="admin" type="submit" value="Entrar como admin"></input>
        </form>
    </div>
</body>
</html>